menu "X Speaker Configuration"
    config SPEAKER_DEVICE_NAME
        string "Local Device Name"
        default "X_SPEAKER"
        help
            Use this option to set local device name.

endmenu
